# Ambiente
NODE_ENV=development
PORT=3001
API_PREFIX=api/v1

# JWT
JWT_SECRET=seu_segredo_jwt_muito_forte_aqui
JWT_EXPIRES_IN=8h

# Oracle Database
DB_USER=usuario_banco
DB_PASSWORD=senha_banco
DB_CONNECTION_STRING=host:1521/servico
DB_POOL_MIN=2
DB_POOL_MAX=10
DB_POOL_INCREMENT=1

# Active Directory (LDAP)
AD_URL=ldap://192.168.X.X
AD_BASE_DN=dc=fav,dc=com,dc=br
AD_USERNAME=admin@fav.com.br
AD_PASSWORD=senha_ad

# CORS
CORS_ORIGINS=http://localhost:3000
